<style>
ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
li
{
display:inline;
}
a:link,a:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#2b817f;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#2b817f;
}
h1
{
    text-align:center; font-size: 70px; padding: 50px; color:#2b817f;font-weight: 900; font-family:cursive;
}
p
{
   text-align: center; font-size: 25px; color:white;
}
body
{
    background-image: url(images/sunrise.jpg);background-position:center;background-repeat: no-repeat;
}
audio
{
    margin-left: 900px;position:relative;
}
</style>



