body
{
    background-color: #a9dbd8
}
img{margin-top: 100px}
h1
{
margin-left: 80px;
}
<style>
a:hover {color:#f06d77; background-color: #a9dbd8;}	
a:active {color:#f06d77;}	/* 正在被点击的链接 */
a {text-decoration: none;}
</style>